@charset "UTF-8";
* {
		margin: 0;
		padding: 0;
		color: #ffffff;
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		font-weight: 400;
		list-style: none;
		box-sizing: border-box;
}

/* Переменные */
/*************************/
.container {
		position: relative;
		min-height: 750px;
		background-color: rgba(20, 215, 195, 0.9);
		background-image: url(/img/bg2-header.jpg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
}

.container::after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		content: "";
		background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
		opacity: 0.9;
}

.wrap {
		max-width: 1320px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
}

.header__menu {
		width: 91.2280701754%;
		position: absolute;
		top: 0;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 50px;
}

.logo a {
		text-decoration: none;
}
.logo__text {
		display: inline-block;
		margin-left: 10px;
		font-size: 0.95em;
		font-weight: 400;
		text-transform: uppercase;
}
.logo__text b {
		display: block;
		font-size: 1em;
		font-weight: 700;
}

.menu {
		display: flex;
		justify-content: flex-start;
}
.menu__item {
		margin-right: 50px;
}
.menu__item:last-child {
		margin-right: 0;
}
.menu__link {
		font-size: 0.95em;
		text-decoration: none;
}
.menu__link_active {
		color: #061e37;
}

.sing_btn {
		min-width: 80px;
		padding: 6px 0;
		font-size: 0.75em;
		background-color: transparent;
		border-radius: 2px;
		border: 1px solid #ffffff;
		cursor: pointer;
}

.header__content {
		width: 91.2280701754%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		margin-top: 250px;
		z-index: 1;
}

.description {
		flex-basis: 44.7%;
}
.description__title {
		width: 90%;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 3.3em;
		font-weight: 700;
		line-height: 1.2em;
		text-transform: uppercase;
}
.description__text {
		margin-top: 0;
		margin-bottom: 40px;
		font-size: 1.13em;
		line-height: 1.5em;
}

.btn-buy {
		min-width: 150px;
		margin-right: 30px;
		padding: 22px 0;
		font-size: 0.95em;
		text-transform: uppercase;
		text-align: center;
		background-color: #061e37;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 5px;
		cursor: pointer;
}

.btn-free {
		min-width: 160px;
		padding: 22px 0;
		color: #061e37;
		text-align: center;
		font-size: 0.95em;
		font-weight: 700;
		text-transform: uppercase;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
		border: none;
		cursor: pointer;
}

.video {
		position: relative;
		flex-basis: 46%;
		background-image: url(/img/img-video.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 3px;
		border: 1px solid #061e37;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.video::after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		min-height: 336px;
		content: "";
		background-color: #fff;
		opacity: 0.9;
}

.box-video {
		position: absolute;
		z-index: 1;
		top: 35%;
		left: 40%;
}
.box-video__square {
		position: relative;
		width: 60px;
		margin-left: 22px;
		margin-bottom: 22px;
		padding: 30px 0;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		background-color: #061e37;
		cursor: pointer;
}
.box-video__square::after {
		content: "";
		position: absolute;
		top: 40%;
		left: 40%;
		width: 0;
		height: 0;
		display: block;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 10px solid #fff;
		cursor: pointer;
}
.box-video__title {
		display: block;
		color: #061e37;
		font-size: 0.75em;
		font-weight: 700;
		text-transform: uppercase;
}

.content-top {
		margin: 100px 0;
}

.easy {
		margin-bottom: 100px;
		text-align: center;
}
.easy__title {
		margin-top: 0;
		margin-bottom: 14px;
		color: #061e37;
		font-size: 2.85em;
		font-weight: 700;
}
.easy__subtitle {
		display: block;
		margin-bottom: 20px;
		color: #b0bec5;
		font-size: 1.6em;
		font-weight: 400;
}
.easy__text {
		width: 44%;
		margin: 0 auto;
		color: #b0bec5;
		font-size: 0.95em;
		line-height: 1.5em;
}

.category {
		margin-bottom: 100px;
}
.category__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 75px;
}
.category__item {
		flex-basis: 26.4615384615%;
		margin-right: 150px;
}
.category__item img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
}
.category__item:last-child {
		margin-right: 0;
}
.category__item:nth-child(2) h3 {
		margin-top: 35px;
}
.category__title {
		margin-top: 40px;
		margin-bottom: 20px;
		color: #061e37;
		font-size: 1.3em;
		text-align: center;
		line-height: 1.5em;
}
.category__text {
		margin: 0;
		color: #78909c;
		font-size: 0.9em;
		line-height: 1.5em;
		text-align: center;
}
.category__btn {
		display: block;
		min-width: 150px;
		margin: 0 auto;
		padding: 22px 0;
		color: #ffffff;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #1de9b6;
		cursor: pointer;
}

.success__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
}
.success__item {
		display: flex;
		justify-content: center;
		padding: 45px 0;
		width: 27.7777777778%;
		text-align: left;
		line-height: 1.5em;
		background-color: #80d8ff;
}
.success__item_dark-blue {
		background-color: #82b1ff;
}
.success__item_purple {
		background-color: #b388ff;
}
.success__item_pink {
		background-color: #ea80fc;
}
.success__number {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
}
.success__section {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
}

.ellipse {
		width: 60px;
		height: 60px;
		margin-right: 20px;
		border-radius: 50%;
		background-image: url(/img/business.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: #ffffff;
}

.ellipse_dwn {
		background-image: url(/img/file_download_bl.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
}

.ellipse_pers {
		background-image: url(/img/person.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
}

.ellipse_dwn-pink {
		background-image: url(/img/file_download.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
}

.content-middle {
		margin-bottom: 100px;
}

.service {
		width: 61.5384615385%;
		margin: 0 auto;
		margin-bottom: 100px;
}
.service__title {
		margin-top: 0;
		margin-bottom: 30px;
		color: #061e37;
		text-align: center;
		font-size: 2.65em;
		font-weight: 500;
}
.service__text {
		width: 69.375%;
		margin: 0 auto;
		color: #b0bec5;
		font-size: 0.9em;
		text-align: center;
		line-height: 1.5em;
}
.service__box {
		margin-top: 45px;
}
.service__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
}
.service__item {
		width: 100%;
		padding: 20px 25px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
}

.statistic__title {
		position: relative;
		margin-left: 20px;
		padding-left: 25px;
		color: #061e37;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
}
.statistic__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";
		background-image: url(/img/trending_up.png);
}
.statistic__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";
		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
}
.statistic__box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 25px;
}
.statistic__box img {
		max-width: 100%;
		max-height: 155px;
}
.statistic__text {
		margin-left: 25px;
		color: #061e37;
		font-size: 0.9em;
		line-height: 1.7em;
		letter-spacing: 0.05em;
}

.inbox__title {
		position: relative;
		margin-left: 20px;
		padding-left: 25px;
		color: #061e37;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
}
.inbox__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";
		background-image: url(/img/mail.png);
}
.inbox__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";
		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
}

.team__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
}
.team__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";
		background-image: url(/img/group.png);
}
.team__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";
		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
}

.settings__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
}
.settings__title::before {
		position: absolute;
		top: -1px;
		left: -20px;
		width: 18px;
		height: 18px;
		content: "";
		background-image: url(/img/settings.png);
}
.settings__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";
		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
}

.feed__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
}
.feed__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 14px;
		height: 14px;
		content: "";
		background-image: url(/img/rss_feed.png);
}
.feed__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";
		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
}

.container-bgone {
		position: relative;
		width: 100%;
		min-height: 564px;
		background-image: url(/img/bg2-main.jpg);
}

.container-bgone::after {
		width: 100%;
		display: block;
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #1de9b6;
		background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
		opacity: 0.95;
}

.box-middle {
		width: 100%;
		padding: 85px 0;
		display: flex;
		justify-content: flex-start;
		position: relative;
		z-index: 1;
}

.customer {
		width: 40%;
		margin-right: 170px;
		padding: 45px 0;
}
.customer__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 2.8em;
}
.customer__text {
		margin-bottom: 75px;
		font-size: 0.9em;
		line-height: 1.5em;
}
.customer__btn {
		min-width: 150px;
		padding: 22px 0;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 5px;
		background-color: #061e37;
		cursor: pointer;
}

.review {
		position: relative;
		width: 50%;
}
.review__john {
		position: relative;
		margin-bottom: 70px;
		padding: 20px 0;
		padding-left: 20px;
		text-align: left;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
}
.review__john::before {
		position: absolute;
		top: 50px;
		left: -80px;
		display: block;
		width: 60px;
		height: 65px;
		content: "";
		background-image: url(/img/people-one.png);
		background-repeat: no-repeat;
		background-position: 50% 10%;
}
.review__title {
		margin-top: 0;
		margin-bottom: 15px;
		color: #061e37;
		font-size: 1.15em;
		font-weight: 700;
}
.review__text {
		color: #78909c;
		font-size: 0.9em;
		font-style: italic;
		line-height: 25px;
}
.review__khal {
		position: relative;
		padding: 20px 0;
		padding-left: 20px;
		text-align: left;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
}
.review__khal::before {
		position: absolute;
		top: 50px;
		left: -80px;
		display: block;
		width: 60px;
		height: 65px;
		content: "";
		background-image: url(/img/people-two.png);
		background-repeat: no-repeat;
		background-position: 50% 10%;
}

.review::before {
		position: absolute;
		top: -10%;
		right: 50%;
		display: block;
		width: 25px;
		height: 15px;
		content: "";
		background-image: url(/img/keyboard_arrow_up.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		cursor: pointer;
}

.review::after {
		position: absolute;
		bottom: -10%;
		right: 50%;
		display: block;
		width: 25px;
		height: 15px;
		content: "";
		background-image: url(/img/keyboard_arrow_down.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		cursor: pointer;
}

.inner {
		max-width: 670px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
}

.box-team {
		display: flex;
		flex-direction: column;
		margin-bottom: 90px;
}

.our-team {
		margin-bottom: 90px;
		text-align: center;
}
.our-team__title {
		margin-top: 0;
		margin-bottom: 25px;
		color: #061e37;
		font-size: 2.8em;
}
.our-team__text {
		width: 90%;
		margin: 0 auto;
		color: #b0bec5;
		font-size: 0.9em;
		line-height: 1.5em;
}

.box-img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
}
.box-img img {
		max-width: 100%;
		margin-right: 50px;
}
.box-img img:last-child {
		margin-right: 0;
}

.sophie {
		text-align: center;
}
.sophie__title {
		margin-top: 0;
		margin-bottom: 20px;
		color: #061e37;
		font-size: 1.15em;
		font-weight: 700;
		line-height: 1.5em;
}
.sophie__text {
		margin-bottom: 25px;
		color: #90a4ae;
		font-size: 0.93em;
		line-height: 1.5em;
}

.social {
		display: flex;
		justify-content: center;
		align-items: center;
}
.social__item {
		width: 3.5%;
		margin-right: 20px;
}
.social__tw {
		background-image: url(/img/twitter.svg);
}
.social__fb {
		background-image: url(/img/facebook.svg);
}
.social__in {
		background-image: url(/img/linkedin.svg);
}
.social__gl {
		background-image: url(/img/google-plus.svg);
}
.social__be {
		background-image: url(/img/behance-network.svg);
}
.social__item:last-child {
		margin-right: 0;
}
.social__link {
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		text-decoration: none;
		opacity: 0.3;
}

.inner-contact {
		max-width: 620px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
}

.contact {
		display: flex;
		flex-direction: column;
}
.contact__title {
		margin-top: 0;
		margin-bottom: 25px;
		color: #061e37;
		font-size: 2.8em;
		text-align: center;
}
.contact__text {
		margin-bottom: 45px;
		color: #061e37;
		font-size: 0.9em;
		line-height: 1.5em;
		text-align: center;
}
.contact__form {
		width: 100%;
}
.contact__form .box-input {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
}
.contact__form .box-input input {
		min-width: 280px;
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		color: #061e37;
		font-size: 0.9em;
		font-weight: 500;
		border-radius: 5px;
		border: 1px solid #061e37;
}
.contact__form .box-input input::placeholder {
		color: #061e37;
		font-size: 0.9em;
		font-weight: 500;
}
.contact__form textarea {
		display: block;
		margin-bottom: 20px;
		padding-top: 15px;
		padding-left: 15px;
		color: #061e37;
		font-size: 0.9em;
		font-weight: 500;
		border-radius: 5px;
		border: 1px solid #061e37;
}
.contact__form textarea::placeholder {
		color: #061e37;
		font-size: 0.9em;
		font-weight: 500;
}
.contact__btn {
		min-width: 130px;
		padding: 15px 0;
		color: #ffffff;
		font-weight: 500;
		text-transform: uppercase;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #1de9b6;
		cursor: pointer;
}

.box-subscribe {
		display: inline-block;
		margin-right: 253px;
		color: #061e37;
		font-size: 0.9em;
		font-weight: 500;
		cursor: pointer;
}
.box-subscribe input {
		margin-right: 10px;
}

.main {
		margin-bottom: 100px;
}

.footer {
		background-color: #061e37;
}

.box-footer {
		padding: 70px 0;
}

.footer-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
}
.footer-menu__logo a {
		display: block;
		text-decoration: none;
}
.footer-menu__text {
		display: inline-block;
		margin-left: 10px;
		font-size: 0.95em;
		font-weight: 400;
		text-transform: uppercase;
}
.footer-menu__text b {
		display: block;
		font-size: 1em;
		font-weight: 700;
}
.footer-menu__list {
		display: flex;
		justify-content: flex-end;
}
.footer-menu__item {
		margin-right: 45px;
}
.footer-menu__item:last-child {
		margin-right: 0;
}
.footer-menu__link {
		font-size: 0.9em;
		text-decoration: none;
}

.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.footer-bottom__link a {
		display: inline-block;
		color: #4b5c6e;
		font-size: 0.9em;
		text-decoration: none;
}
.footer-bottom__link a:not(:last-child)::after {
		display: inline-block;
		width: 6px;
		height: 6px;
		content: "";
		margin-left: 20px;
		margin-right: 20px;
		background-color: #ffffff;
		border-radius: 50%;
}
.footer-bottom__social {
		display: flex;
		justify-self: flex-end;
}
.footer-bottom__social-item {
		width: 12.5%;
		margin-right: 20px;
}
.footer-bottom__social-item:last-child {
		margin-right: 0;
}
.footer-bottom__social-link {
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		text-decoration: none;
		opacity: 0.3;
}

.social-tw {
		background-image: url(/img/twitter.svg);
}

.social-fb {
		background-image: url(/img/facebook.svg);
}

.social-in {
		background-image: url(/img/linkedin.svg);
}

.social-gl {
		background-image: url(/img/google-plus.svg);
}

.social-be {
		background-image: url(/img/behance-network.svg);
}