* {
	margin: 0;
	padding: 0;

	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 400;

	list-style: none;
	box-sizing: border-box;
}

/* Переменные */
$fz: 0.95em;

/*************************/

.container {
	position: relative;
	min-height: 750px;
	background-color: rgba(20, 215, 195, 0.9);
	background-image: url(/img/bg2-header.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.container::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	content: "";

	background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
	opacity: 0.9;
}

.wrap {
	max-width: 1320px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.header {

	&__menu {
		width: 1300px/1425px*100%;
		position: absolute;
		top: 0;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 50px;
	}
}

.logo {
	a {
		text-decoration: none;


	}

	&__text {
		display: inline-block;
		margin-left: 10px;

		font-size: 0.95em;
		font-weight: 400;
		text-transform: uppercase;

		b {
			display: block;

			font-size: 1em;
			font-weight: 700;
		}
	}
}

.menu {
	display: flex;
	justify-content: flex-start;

	&__item {
		margin-right: 50px;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__link {
		font-size: 0.95em;
		text-decoration: none;

		&_active {
			color: #061e37;
		}
	}
}

.box-btn {}

.sing {

	&_btn {
		min-width: 80px;
		padding: 6px 0;

		font-size: 0.75em;

		background-color: transparent;
		border-radius: 2px;
		border: 1px solid #ffffff;
		cursor: pointer;
	}
}


.header {

	&__content {
		width: 1300px/1425px*100%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		margin-top: 250px;

		z-index: 1;
	}
}

.description {
	flex-basis: 44.7%;

	&__title {
		width: 90%;
		margin-top: 0;
		margin-bottom: 30px;

		font-size: 3.3em;
		font-weight: 700;
		line-height: 1.2em;
		text-transform: uppercase;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 40px;

		font-size: 1.13em;
		line-height: 1.5em;
	}
}

.box-btn {}

.btn-buy {
	min-width: 150px;
	margin-right: 30px;
	padding: 22px 0;

	font-size: $fz;
	text-transform: uppercase;
	text-align: center;

	background-color: #061e37;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-free {
	min-width: 160px;
	padding: 22px 0;

	color: #061e37;
	text-align: center;
	font-size: $fz;
	font-weight: 700;
	text-transform: uppercase;

	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
}

.video {
	position: relative;
	flex-basis: 46%;

	background-image: url(/img/img-video.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 3px;
	border: 1px solid #061e37;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.video::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	min-height: 336px;
	content: "";

	background-color: #fff;
	opacity: 0.9;
}

.box-video {
	position: absolute;
	z-index: 1;
	top: 35%;
	left: 40%;

	&__square {
		position: relative;
		width: 60px;
		margin-left: 22px;
		margin-bottom: 22px;
		padding: 30px 0;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		background-color: #061e37;
		cursor: pointer;
	}

	&__square::after {
		content: "";
		position: absolute;
		top: 40%;
		left: 40%;
		width: 0;
		height: 0;
		display: block;

		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 10px solid #fff;
		cursor: pointer;
	}

	&__title {
		display: block;

		color: #061e37;
		font-size: 0.75em;
		font-weight: 700;
		text-transform: uppercase;

	}
}

.content-top {
	margin: 100px 0;
}

.easy {
	margin-bottom: 100px;

	text-align: center;

	&__title {
		margin-top: 0;
		margin-bottom: 14px;

		color: #061e37;
		font-size: 2.85em;
		font-weight: 700;
	}

	&__subtitle {
		display: block;
		margin-bottom: 20px;

		color: #b0bec5;
		font-size: 1.6em;
		font-weight: 400;
	}

	&__text {
		width: 44%;
		margin: 0 auto;


		color: #b0bec5;
		font-size: 0.95em;
		line-height: 1.5em;
	}
}

.category {
	margin-bottom: 100px;

	&__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 75px;
	}

	&__item {
		flex-basis: 344px/1300px*100%;
		margin-right: 150px;

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;

		}
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__item:nth-child(2) h3 {
		margin-top: 35px;
	}

	&__title {
		margin-top: 40px;
		margin-bottom: 20px;

		color: #061e37;
		font-size: 1.3em;
		text-align: center;
		line-height: 1.5em;
	}

	&__text {
		margin: 0;

		color: #78909c;
		font-size: 0.90em;
		line-height: 1.5em;
		text-align: center;

	}

	&__btn {
		display: block;
		min-width: 150px;
		margin: 0 auto;
		padding: 22px 0;

		color: #ffffff;
		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;

		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #1de9b6;
		cursor: pointer;
	}
}

.success {

	&__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__item {
		display: flex;
		justify-content: center;
		padding: 45px 0;
		width: 400px/1440px*100%;

		text-align: left;
		line-height: 1.5em;

		background-color: #80d8ff;
	}

	&__item_dark-blue {
		background-color: #82b1ff;
	}

	&__item_purple {
		background-color: #b388ff;
	}

	&__item_pink {
		background-color: #ea80fc;
	}

	&__number {
		display: block;
		font-size: 1.2em;
		font-weight: 600;

	}

	&__section {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
	}
}

.ellipse {
	width: 60px;
	height: 60px;
	margin-right: 20px;

	border-radius: 50%;
	background-image: url(/img/business.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}

.ellipse_dwn {
	background-image: url(/img/file_download_bl.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.ellipse_pers {
	background-image: url(/img/person.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.ellipse_dwn-pink {
	background-image: url(/img/file_download.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.content-middle {
	margin-bottom: 100px;
}

.service {
	width: 800px/1300px*100%;
	margin: 0 auto;
	margin-bottom: 100px;

	&__title {
		margin-top: 0;
		margin-bottom: 30px;

		color: #061e37;
		text-align: center;
		font-size: 2.65em;
		font-weight: 500;
	}

	&__text {
		width: 555px/800px*100%;
		margin: 0 auto;

		color: #b0bec5;
		font-size: 0.90em;
		text-align: center;
		line-height: 1.5em;
	}

	&__box {
		margin-top: 45px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__item {
		width: 100%;
		padding: 20px 25px;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
}

.statistic {

	&__title {
		position: relative;
		margin-left: 20px;
		padding-left: 25px;

		color: #061e37;
		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";

		background-image: url(/img/trending_up.png);

	}

	&__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";

		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
	}

	&__box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 25px;

		img {
			max-width: 100%;
			max-height: 155px;
		}
	}

	&__text {
		margin-left: 25px;
		color: #061e37;
		font-size: 0.90em;
		line-height: 1.7em;
		letter-spacing: 0.05em;
	}
}

.inbox {

	&__title {
		position: relative;
		margin-left: 20px;
		padding-left: 25px;

		color: #061e37;
		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";

		background-image: url(/img/mail.png);

	}

	&__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";

		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
	}
}

.team {

	&__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;

		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 18px;
		height: 11px;
		content: "";

		background-image: url(/img/group.png);

	}

	&__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";

		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
	}
}

.settings {

	&__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;

		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;

	}

	&__title::before {
		position: absolute;
		top: -1px;
		left: -20px;
		width: 18px;
		height: 18px;
		content: "";

		background-image: url(/img/settings.png);

	}

	&__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";

		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
	}
}

.feed {

	&__title {
		position: relative;
		color: #061e37;
		margin-left: 20px;
		padding-left: 25px;

		font-size: 0.90em;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__title::before {
		position: absolute;
		top: 2px;
		left: -20px;
		width: 14px;
		height: 14px;
		content: "";

		background-image: url(/img/rss_feed.png);

	}

	&__title::after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 0;
		height: 0;
		content: "";

		border: 6px solid transparent;
		border-top-color: #061e37;
		cursor: pointer;
	}
}

.container-bgone {
	position: relative;
	width: 100%;
	min-height: 564px;

	background-image: url(/img/bg2-main.jpg);
}

.container-bgone::after {
	width: 100%;
	display: block;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: #1de9b6;
	background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
	opacity: 0.95;
}

.box-middle {
	width: 100%;
	padding: 85px 0;
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
}

.customer {
	width: 40%;
	margin-right: 170px;
	padding: 45px 0;

	&__title {
		margin-top: 0;
		margin-bottom: 20px;

		font-size: 2.8em;
	}

	&__text {
		margin-bottom: 75px;

		font-size: 0.9em;
		line-height: 1.5em;
	}

	&__btn {
		min-width: 150px;
		padding: 22px 0;

		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 5px;
		background-color: #061e37;
		cursor: pointer;
	}
}

.review {
	position: relative;
	width: 50%;

	&__john {
		position: relative;
		margin-bottom: 70px;
		padding: 20px 0;
		padding-left: 20px;

		text-align: left;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
	}

	&__john::before {
		position: absolute;
		top: 50px;
		left: -80px;
		display: block;
		width: 60px;
		height: 65px;
		content: "";

		background-image: url(/img/people-one.png);
		background-repeat: no-repeat;
		background-position: 50% 10%;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 15px;

		color: #061e37;
		font-size: 1.15em;
		font-weight: 700;
	}

	&__text {
		color: #78909c;
		font-size: 0.9em;
		font-style: italic;
		line-height: 25px;
	}

	&__khal {
		position: relative;
		padding: 20px 0;
		padding-left: 20px;

		text-align: left;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
	}

	&__khal::before {
		position: absolute;
		top: 50px;
		left: -80px;
		display: block;
		width: 60px;
		height: 65px;
		content: "";

		background-image: url(/img/people-two.png);
		background-repeat: no-repeat;
		background-position: 50% 10%;
	}
}


.review::before {
	position: absolute;
	top: -10%;
	right: 50%;
	display: block;
	width: 25px;
	height: 15px;
	content: "";

	background-image: url(/img/keyboard_arrow_up.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.review::after {
	position: absolute;
	bottom: -10%;
	right: 50%;
	display: block;
	width: 25px;
	height: 15px;
	content: "";

	background-image: url(/img/keyboard_arrow_down.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.content-bottom {}

.inner {
	max-width: 670px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.box-team {
	display: flex;
	flex-direction: column;
	margin-bottom: 90px;
}

.our-team {
	margin-bottom: 90px;
	text-align: center;

	&__title {
		margin-top: 0;
		margin-bottom: 25px;

		color: #061e37;
		font-size: 2.8em;
	}

	&__text {
		width: 90%;
		margin: 0 auto;
		color: #b0bec5;
		font-size: 0.9em;
		line-height: 1.5em;
	}
}

.box-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;

	img {
		max-width: 100%;
		margin-right: 50px;
	}

	img:last-child {
		margin-right: 0;
	}
}

.sophie {
	text-align: center;

	&__title {
		margin-top: 0;
		margin-bottom: 20px;

		color: #061e37;
		font-size: 1.15em;
		font-weight: 700;
		line-height: 1.5em;
	}

	&__text {
		margin-bottom: 25px;

		color: #90a4ae;
		font-size: 0.93em;
		line-height: 1.5em;
	}
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		width: 3.5%;
		margin-right: 20px;
	}

	&__tw {
		background-image: url(/img/twitter.svg);
	}

	&__fb {
		background-image: url(/img/facebook.svg);
	}

	&__in {
		background-image: url(/img/linkedin.svg);

	}

	&__gl {
		background-image: url(/img/google-plus.svg);
	}

	&__be {
		background-image: url(/img/behance-network.svg);
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__link {
		display: inline-block;
		width: 20px;
		height: 20px;

		vertical-align: middle;
		text-decoration: none;
		opacity: 0.3;
	}
}

.box-contact {}

.inner-contact {
	max-width: 620px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.contact {
	display: flex;
	flex-direction: column;



	&__title {
		margin-top: 0;
		margin-bottom: 25px;

		color: #061e37;
		font-size: 2.8em;
		text-align: center;
	}

	&__text {
		margin-bottom: 45px;

		color: #061e37;
		font-size: 0.9em;
		line-height: 1.5em;
		text-align: center;
	}

	&__form {
		width: 100%;

		.box-input {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			input {
				min-width: 280px;
				margin-bottom: 20px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 15px;

				color: #061e37;
				font-size: 0.9em;
				font-weight: 500;

				border-radius: 5px;
				border: 1px solid #061e37;
			}

			input::placeholder {
				color: #061e37;
				font-size: 0.9em;
				font-weight: 500;
			}
		}

		textarea {
			display: block;
			margin-bottom: 20px;
			padding-top: 15px;
			padding-left: 15px;

			color: #061e37;
			font-size: 0.9em;
			font-weight: 500;

			border-radius: 5px;
			border: 1px solid #061e37;
		}

		textarea::placeholder {
			color: #061e37;
			font-size: 0.9em;
			font-weight: 500;

		}
	}

	&__btn {
		min-width: 130px;
		padding: 15px 0;

		color: #ffffff;
		font-weight: 500;
		text-transform: uppercase;

		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #1de9b6;
		cursor: pointer;
	}
}

.box-subscribe {
	display: inline-block;
	margin-right: 253px;

	color: #061e37;
	font-size: 0.9em;
	font-weight: 500;

	cursor: pointer;

	input {
		margin-right: 10px;
	}
}

.main {
	margin-bottom: 100px;
}

.footer {
	background-color: #061e37;
}

.box-footer {
	padding: 70px 0;
}

.wrap {}

.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;

	&__logo {

		a {
			display: block;

			text-decoration: none;
		}
	}

	&__text {
		display: inline-block;
		margin-left: 10px;

		font-size: 0.95em;
		font-weight: 400;
		text-transform: uppercase;

		b {
			display: block;

			font-size: 1em;
			font-weight: 700;
		}
	}

	&__list {
		display: flex;
		justify-content: flex-end;
	}

	&__item {
		margin-right: 45px;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__link {
		font-size: 0.9em;
		text-decoration: none;
	}

}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {

		a {
			display: inline-block;
			color: #4b5c6e;
			font-size: 0.9em;
			text-decoration: none;
		}

		a:not(:last-child)::after {
			display: inline-block;
			width: 6px;
			height: 6px;
			content: "";
			margin-left: 20px;
			margin-right: 20px;

			background-color: #ffffff;
			border-radius: 50%;
		}
	}

	&__social {
		display: flex;
		justify-self: flex-end;
	}

	&__social-item {
		width: 12.5%;
		margin-right: 20px;
	}

	&__social-item:last-child {
		margin-right: 0;
	}

	&__social-link {
		display: inline-block;
		width: 20px;
		height: 20px;

		vertical-align: middle;
		text-decoration: none;
		opacity: 0.3;
	}
}

.social-tw {
	background-image: url(/img/twitter.svg);
}

.social-fb {
	background-image: url(/img/facebook.svg);
}

.social-in {
	background-image: url(/img/linkedin.svg);
}

.social-gl {
	background-image: url(/img/google-plus.svg);
}

.social-be {
	background-image: url(/img/behance-network.svg);
}